.base {
    background-color: #f4f4f4;
}
.choice-grid {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.choice-grid div {
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    width: 32.5%;
    margin-bottom: 20px;
    padding: 10px;

  
    display: flex;
    flex-direction: column;
}

.choice-grid div img {
    box-sizing: border-box;
    width: 100%;
}
footer {
    width: 100%;
    margin: 20px 0px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
footer button {
    background-color: #cecece;
    height: 50px;
}

footer button:hover {
    background-color: #e0e0e0;
}

footer h1, footer p {
    margin-bottom: 18px;
}

.hidden {
    display: none;
}

.notSelected {
    background-color: #f4f4f4;
    opacity: 0.6;
}

.selected {
    background-color: #cfe3ff;
}

@media (max-width: 699px) {
    article {
        width: 95%;
    }
    header div span {
        display: none;
    }
}

@media (max-width: 499px) {
    .choice-grid div {
        width: 49%;
    }
}